<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table border="1">
    <tr>
        <th>FirsName</th>
        <th>LastName</th>
        <th>Password</th>
        <th>Role</th>
        <th>Action</th>
    </tr>


    <tr th:block th:each="user:${users}">

        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.roles}"></td>
        <td><a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
            <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
            <a th:href="@{/users/{id}(id=${user.id})}">Page</a>
        </td>

    </tr>

</table>

<br><br>
<input type="button" value="Add"
       onclick="window.location.href = '/users/new'"/>

<input type="button" value="Table Users"
       onclick="window.location.href = '/users'">

<br/><br/>
<input type="button" value="Logout"
       onclick="window.location.href = '/logout'">


</body>
</html>