<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>Users</h1>
<form th:method="POST" th:action="@{/users}" th:object="${user}">

    <label for="firstname">Enter Name </label>
    <input type="text" th:field="*{firstName}" id="firstname"/><br/><br/>

    <label for="lastname">Enter Lastname </label>
    <input type="text" th:field="*{lastName}" id="lastname"/><br/><br/>

    <label for="password">Enter Password </label>
    <input type="text" th:field="*{password}" id="password"/><br/><br/>


    <b>Add roles</b><br/>
    <input type=checkbox id=adminId th:field="*{roles}" value="ROLE_ADMIN">
    <label for="adminId">Admin</label>

    <input type=checkbox id=userId th:field="*{roles}" value="ROLE_USER">
    <label for="userId">User</label>

    <br/>
    <br/>

    <input type="submit" value=" Create "/>
</form>
<br/><br/>
<input type="button" value="Cancel"
       onclick="window.location.href = '/users'">
<br/><br/>
<input type="button" value="Logout"
       onclick="window.location.href = '/logout'">

</body>
</html>